h2{
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#display {
    background-color: lightblue;
    opacity: 1.0; 
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 46px;
    margin: 10px 13px;
    
}