<style>
    .card-img-top {
        height: 280px;
        width: 100%      
    }
    .card{
        box-shadow: 5px 5px 5px grey;
        margin: 25px 15px;
    }
    .card:hover{
        box-shadow: 2px 7px 15px grey;
    }
    .card-title{ padding: 10px; }
    .card-text{ padding: 5px 10px; }

</style>
<div class="card-content">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="study.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ study.name }}</h5>
          <p class="card-text">{{ study.description }}</p>
          <p class="card-text">Matrícula:  {{ study.matricula }} </p>
        </div>
    </div>
</div>